html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: #141414;
  font-family: "Barlow", sans-serif;
  height: 100%;
  margin: 0 auto;
}

.menu {
  position: fixed;
  background-color: white;
  padding: 30px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  z-index: 2;
}

.menu a:link {
  font-size: 1.5em;
  text-decoration: none;
  border: 2px solid;
  padding: 10px;
  position: sticky;
  margin: 10px;
}

.home {
  background-image: url(../img/dieter-rams-home.jpg);
  text-align: center;
  height: 100%;
  font-size: 2em;
}

.next {
  font-size: 1em;
  position: bottom;
}

.principle {
  height: 100%;
  background: yellow;
}

.about {
  background: yellow;
}

.whatsapp {
  display: block;
  padding: 10px;
  bottom: 1%;
  position: fixed;
  left: 95%;
}

footer {
  position: bottom;
  width: 100%;
  margin-top: 2%;
  padding: 1% 0 2% 0;
  background-color: green;
  color: black;
  text-align: center;
}

footer a:link {
  text-decoration: none;
}
