body {
  background-color: #f9e7e7;
  margin-left: 10%;
  margin-right: 10%;
}

img {
  display: inline-block;
}

h1 {
  font-family: "Staatliches";
  font-size: 5em;
  text-align: center;
  color: #29335c;
}

h2 {
  font-family: "Staatliches";
  font-size: 2em;
  text-align: center;
  color: #29335c;
  background-color: #afe3c0;
}
p {
  font-family: "Lato", sans-serif;
}

li {
  display: inline;
}

.h2A {
  display: inline-block;
  text-align: left;
  background-color: #f9e7e7;
  width: 40%;
}

.h2B {
  display: inline-block;
  text-align: left;
  background-color: #f9e7e7;
  width: 40%;
}

.pA {
  display: inline-block;
  width: 40%;
}

.pB {
  display: inline-block;
  width: 40%;
}

.meusite {
  display: block;
  font-family: "Staatliches";
  font-size: 3em;
  margin-left: 300px;
  padding: 10px;
  font-weight: bold;
  bottom: 5%;
  position: fixed;
  left: 70%;
  background-color: rgb(18, 203, 236);
  border: solid 2px rgb(245, 242, 245);
}
