html {
  height: 100%;
}

body {
  background-color: #141414;
  font-family: "Barlow", sans-serif;
  height: 100%;
  margin: 0 auto;
}

.menu {
  position: top;
  padding: 3% 0 0 0;
  text-align: center;
}

.menu a:link {
  font-size: 1.5em;
  text-decoration: none;
  border: 2px solid;
  padding: 10px;
  position: sticky;
  margin: 10px;
}

.home {
  text-align: center;
  height: 100%;
  background-color: red;
  font-size: 2em;
}

.next {
  font-size: 1em;
  position: bottom;
}

.principle {
  height: 100%;
  background: yellow;
}

.about {
  background: yellow;
}

footer {
  position: bottom;
  width: 100%;
  margin-top: 2%;
  padding: 1% 0 2% 0;
  background-color: green;
  color: black;
  text-align: center;
}

footer a:link {
  text-decoration: none;
}
